div.animal-parade-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
div.animal-parade-list Button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
div.animal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 30px;
}
